/* =======================
tablet layout
============================ */


@media only screen and (min-width:200px) and (max-width:991px) {
      .social_area {max-width: 460px;padding-top: 14px;}
      .inner_menu {background: none; min-height: auto;}
      .mean-container .mean-nav {margin-top: 0px;width: 80%;}
      .inner_menu::after{display: none;}
      .inner_header {padding: 20px 0; }
      #slider_area {margin-top: 0px;}
     .inner_hero h2 {font-size: 55px;}
    
    }


/* /* =======================
Mobile layout
================= */
    
@media only screen and (min-width:320px) and (max-width:768px) {

    .mini_menu {width: 100%;float: none;}
    .mini_menu ul, .search_area ul{ text-align: center; }
    .search_area, .logo_area {float: none;width: 250px; margin: 0 auto;}
    .search_area ul li{margin: 0px 5px;}
    .logo_area img{width: 100%; left: -20%;}
    .search_area ul li{ margin: 0 5px;}
    .inner_hero h2{font-size: 25px;}
    .inner_hero{overflow: hidden; padding-bottom: 20px;}
    .child_work{width: 98%;}
    #work_area, .footer_area{padding: 20px 0;}
    .child_footer{width: 96%;}
    .left_copyright, .right_copyright {float: none; width: 100%; text-align: center;}
}


/* /* =======================
Mobile layout
================= */


@media only screen and (min-width:200px) and (max-width:320px) {

    .mini_menu {width: 100%;margin-bottom: 10px;}
    .mini_menu ul li{margin-right: 10px; display: grid;}
    .mini_menu ul li::after{top: 0px; right: 0; width: 0px; height: 0px;}
    .mini_menu ul li a{font-size: 16px;}
    .mini_menu ul, .search_area ul {text-align: center;padding: 0;}
    .search_area {float: none;width: 100%;}
    .logo_area {float: none;width: 180px;margin: 0 auto;}
    .social_area{float: none;}
    .search_area ul li{margin-left: 0px;}
    .social_area ul li a i{width: 30px;}
    .slider_caption h1{font-size: 20px;}
    .aligenleft{ float: none; width: 100%; margin-bottom: 5px; margin-right: 5px;}
    .logo_area img{width: 100%; left: -20%;}
    .search_area ul li{ margin: 0 5px;}
    .inner_hero h2{font-size: 25px;}
    .child_work{float: none; width: 100%; margin: 0 auto;}
    .child_work h2{font-size: 18px;}
    #work_area {padding: 5px 0;}
    .child_work a {float: none;}
    .child_service{margin-bottom: 0;}
    .child_service .service_image {float: none; }
    .child_service .service_text { width: 100%; float: none; }
    #footer_area {  padding: 15px 0;}
    .child_footer {margin: 0 1% 5px; width: 100%;float: none; }
}